<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url 'upload_file' %}"><button>Upload Excel file</button></a>
    </div>
    <div>
        <table >
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
                {% for upload in uploads %}
                <tr>
                    <td>{{ upload.id }}</td>
                    <td>{{ upload.title }}</td>
                    <td>{{ upload.created_at }}</td>
                    <td><a href="{% url 'users' upload_id=upload.id %}"><button>View Entries</button></a></td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>