<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url 'upload_file' %}"><button>Upload Excel file</button></a>
    </div>
    <div>
        <table >
            <tr>
                <th>Title</th>
                <th>Created at</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
            </tr>
        </table>
    </div>
</body>
</html>