<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>List of Users</h3>
    <h4>Upload Title</h4>
    <div>
        <table>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>22</td>
                <td>Male</td>
                <td>NewYork</td>
            </tr>
            <tr>
                <td>Tracy</td>
                <td>Morgan</td>
                <td>20</td>
                <td>Female</td>
                <td>California</td>
            </tr>
        </table>
    </div>
</body>
</html>